main{
    margin-top:30vh;
}

i {
    margin-top: 7px;
    font-size: 50px;
    color: rgb(245, 22, 108);
}

strong {
    font-family: roboto;
    font-size: 22px;
}

h1,
h2 {
    font-family: roboto;
    font-size: 40px;
    color: rgb(245, 22, 108);
    font-weight: bold;
    text-align: center;
}

.parentbox {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.box {
    width: 30%;
    height: 100%;
    border-radius: 3px;
}

span {
    font-family: roboto;
    color: rgb(65, 61, 62);
    font-size: 20px;
}

.titreliens {
    font-family: roboto;
    color: rgb(65, 61, 62);
    font-size: 22px;
    font-weight: bold;
}


.liens {
    text-transform: none;
    color: rgb(65, 61, 62);
}

.liens:hover {
    color: rgb(245, 22, 108);
    font-weight: bold;
}

.passion {
    font-family: roboto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    color: rgb(65, 61, 62);
    font-size: 28px;
}

.renseignement{
    font-family: roboto;
    text-align: center;
    margin-top: 40px;
    color: rgb(65, 61, 62);
    font-size: 18px;
}

.media-content {
    text-align: center;
}