* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.navbar-expand-lg .navbar-nav .nav-link {
    /* permet de modifier le padding entre les link de la navbar */
    padding-right: 1rem;
    padding-left: 1rem;
}



/* DEBUT MENU BOOTSTRAP */

.logo {
    padding: 0;
}

.nav-link {
    /*lien sans le survol */
    font-size: 2.2vh;
    font-family: Helvetica;
    color: white !important;
}


.nav-link:hover {
    /* lien au survol de la souris */
    color: #fb2ca2 !important;
}

.dropdown-item {
    /* lien menu dropdown */
    font-size: 2.8vh;
    color: white;
    font-family: Helvetica;
}

.dropdown-item:hover {
    /* lien dropdown au survol de la souris */
    background-color: #343a40;
    color: #fb2ca2;
}

/* FIN MENU BOOTSTRAP */


/* DEBUT MENU HAMBURGER */
#menuToggle{
    display: none;
    position: relative;
    margin-top: 5%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input

/*css qui permet de cliquer sur les 3 barres hamburger */
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fb2ca2;
    /*voir si je met cette couleur a la place  rgb(71, 71, 71) */
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}



#menu-content {
    /* cache le contenu de mon menu hamburger */
    display: none;
    background-color: #343a40 !important;
    padding: 15px 15px 5px 15px;
    margin-top: 70px;
}

.link-hamburger {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
}

.link-hamburger:hover {
    text-decoration: none;
    color: #fb2ca2;
    font-size: 1.2rem;
}

li {
    padding-top: 15px;
}

/* FIN MENU HAMBURGER */


/* DEBUT CONTENU */
h1{
    font-family: roboto;
    font-size: 45px;
    color: #fb2ca2;
    font-weight: bold;
    text-align: center;
}
.nom-prenom {
    /* EUGENIE KHAYAT */
    font-family: roboto;
    font-size: 3.5vw;
    color: #fb2ca2;
    text-transform: uppercase;
    letter-spacing: 6px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.nom-prenom:hover {
    /* EUGENIE KHAYAT SURVOL */
    transition: all 0.5s ease 0s;
    color: rgb(97, 97, 97);
}

.parent1-texte {
    /* englobe mon petit parent */
    display: table-cell;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    top: 20vh;
}

.parent-texte {
    /* englobe mes span */
    text-align: center;
    vertical-align: middle;
}

.promotion1,
.promotion2 {
    /* DEVELOPPEUSE WEB FULLSTACK & DEVOPS */
    color: #fb2ca2;
    font-family: roboto;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-top: 50px;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

.promotion-mobile {
    /* DEVELOPPEUSE WEB FULLSTACK & DEVOPS */
    display: none;
}

.promotion1:hover,
.promotion2:hover {
    /* Promotion IPSSI */
    transition: all 0.5s ease 0s;
    color: rgb(97, 97, 97);
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


/* FIN CONTENU */

/* DEBUT FOOTER */



footer {
    /* POUR QUE MON FOOTER SOIT EN BAS */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.row {
    /*4 pour supprimer la margin-right -15px a droite */
    margin-right: 0;
    margin-left: 0;
}


.copyright {
    /* copyright */
    font-family: roboto;
    font-size: 1.8vh;
    color: white;
}

.texte-footer {
    /* mention legal et contact hover */
    font-family: roboto;
    font-size: 1.8vh;
    color: white;
}

.texte-footer:hover {
    /* mention legal et contact hover */
    color: white;
}


.fab,
.far {
    /* couleur pictogramme */
    color: #fb2ca2;
    font-size: 1.8em;
}

/* FIN FOOTER */